<h2><%= link_to @podcast.name, podcast_path(@podcast) %></h2>

<div id="status"></div>

<div id="episodes">

  <% @episodes.each do |episode| %>
			<div class="podcast-episode">
	      <h3 class="episode-title"><%= link_to episode.title, episode.url %></h3>
				<div class="episode-meta clearfix">
					<span class="filetype"><%= episode.filetype %></span>
		      <span class="filesize"><%= episode.size unless episode.size == "0.0 MB" %></span>
		      <span class="duration"><%= episode.duration %></span>
				</div>
	      <div class="shownotes"><%= clean_shownotes(episode.shownotes) %></div>
				<div class="buttons">
	      	<%= link_to 'Show', episode, {:class => "button"} %>
	      	<%= link_to 'Edit', edit_episode_path(episode), {:class => "button"} %>
	      	<%= link_to 'Destroy', episode, :confirm => 'Are you sure?', :method => :delete, :class => "button negative" %>
				</div>
			</div>
  <% end %>

</div>

<div class="pagination-wrapper"><%= will_paginate @episodes %></div>

<% unless @dont_bother %>
	<%= javascript_tag do %>
	  $(function(){
	    podcast = <%= @podcast.id %>
 
	    // Suppress useless ReferenceErrors
	    started = ""
	    success = ""
	    error = ""
			reset = ""
 
	    // Fetch new episodes on page load with ajax polling
	    function fetch_new_episodes() {
	      $("#status").html("<p>Fetching New Episodes</p>");
	      $.ajax({
	        type: "GET",
	        url: "<%= DOMAIN_NAME %>/podcasts/" + podcast + "/get_update_status",
	        success: function(data){
	          if (data == "success") {
	            $("#episodes").load("<%= DOMAIN_NAME %>/podcasts/" + podcast + "/episodes?reload=true #episodes", function(){
	              $("#status").html("<p>Episodes Updated</p>");
								$.get("<%= DOMAIN_NAME %>/podcasts/" + podcast + "/reset_update_status", function(data){
									console.log(data);
								});
	            });
	          } else {
	            fetch_new_episodes();
	          }
	        }
	      });      
	    }
		  fetch_new_episodes();
	  });
	<% end %>
<% end %>