<h1>Listing mentions</h1>

<table>
  <tr>
    <th>Mention</th>
    <th>Network</th>
    <th>Username</th>
    <th>Avatar</th>
    <th>Sentiment</th>
    <th>Reputation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mentions.each do |mention| %>
  <tr>
    <td><%= mention.mention %></td>
    <td><%= mention.network %></td>
    <td><%= mention.username %></td>
    <td><%= mention.avatar %></td>
    <td><%= mention.sentiment %></td>
    <td><%= mention.reputation %></td>
    <td><%= link_to 'Show', mention %></td>
    <td><%= link_to 'Edit', edit_mention_path(mention) %></td>
    <td><%= link_to 'Destroy', mention, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mention', new_mention_path %>
