<h1>Listing podcasts</h1>
<%= will_paginate @podcasts %>

<% @podcasts.each do |podcast| %>
	<div class="podcast">
		<h2 class="name"><%= podcast.name %></h2>
		<a class="siteurl" href="<%= podcast.siteurl %>"><%= podcast.siteurl %></a><br />
		<a class="itunesurl" href="<%= podcast.itunesurl %>"><%= podcast.itunesurl %></a><br />
		<a class="feedurl" href="<%= podcast.feedurl %>"><%= podcast.feedurl %></a><br />
		<span class="category"><%= podcast.category %></span><br />
		<span class="hosts"><%= podcast.hosts %></span><br />
		<a class="twitter" href="<%= podcast.twitter %>"><%= podcast.twitter %></a><br />
		<a class="facebook" href="<%= podcast.facebook %>"><%= podcast.facebook %></a><br />
		<p class="description"><%= podcast.description %></p>
		<img class="artwork" src="<%= podcast.artwork %>" /><br />
		<div class="buttons">
			<%= link_to 'Show', podcast, {:class => "button"} %>
			<%= link_to 'Edit', edit_podcast_path(podcast), {:class => "button"} %>
			<%= link_to 'Destroy', podcast, {:class => "button negative"}, :confirm => 'Are you sure?', :method => :delete %>
		</div>
	</div>
<% end %>

<br />

<%= link_to 'New Podcast', new_podcast_path, {:class => "big button"} %>