<div class="search">
	<%= form_tag(search_path, :method => "get", :id => "podcast_search") do |f| %>
	  <%= label_tag(:q, "Search for:") %>
	  <%= autocomplete_field_tag 'q', '', autocomplete_podcast_name_podcasts_path, :size => 50 %>
	  <%= submit_tag("Search", :class => "submit") %>
	<% end %>
</div>

<h1>Searching podcasts (<%= @result_count %>)</h1>

<div class="results">
  <% @search.each_hit_with_result do |hit, podcast| -%>
    <div class="result">
      <h4><%= link_to podcast.name, podcast %></h4>
    </div>
  <% end -%>
</div>

<div class="pagination-wrapper">
	<%= will_paginate @search.hits %>
</div>

<%= javascript_tag do %>
	$(function(){
		$("ul.ui-autocomplete li a").click(function(){
			$("#podcast_search").submit();
		});
	});
<% end %>