<h2><%= link_to @pod_name, podcast_path(@podcast) %></h2>

<div class="meta">
	<p>
	  <b>Siteurl:</b>
	  <%= link_to @podcast.siteurl, @podcast.siteurl %>
	</p>

	<p>
	  <b>Itunesurl:</b>
	  <%= link_to @podcast.itunesurl, @podcast.itunesurl %>
	</p>

	<p>
	  <b>Feedurl:</b>
	  <%= link_to @podcast.feedurl, @podcast.feedurl %>
	</p>

	<p>
	  <b>Category:</b>
	  <%= @podcast.category %>
	</p>

	<p>
	  <b>Hosts:</b>
	  <%= @podcast.hosts %>
	</p>

	<p>
	  <b>Twitter:</b>
	  <%= link_to @podcast.twitter, @podcast.twitter %>
	</p>

	<p>
	  <b>Facebook:</b>
	  <%= link_to @podcast.facebook, @podcast.facebook %>
	</p>

	<p>
	  <b>Description:</b>
	  <%= @podcast.description %>
	</p>
</div>

<%= link_to image_tag(@podcast.artwork, :class => "artwork", :alt => @pod_name, :border=>0), podcast_path(@podcast) %>

<div class="buttons">
	<%= link_to 'Episodes', podcast_episodes_path(@podcast), {:class => "button"} %>
	<%= link_to 'Edit', edit_podcast_path(@podcast), {:class => "button"} %>
	<%= link_to 'Back', :back, {:class => "button"} %>
</div>