<!DOCTYPE html>
<html>
<head>
	<title>Podcastapp</title>
	<%= include_stylesheets :common %>
	<%= include_javascripts :common %>
	<%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">
	<div id="container" class="clearfix">
		<%= render "layouts/header" %>
		<%= render "layouts/flash" %>
		<%= yield %>
	</div>
	<%= render "layouts/footer" %>
</body>
</html>
