<!DOCTYPE html>
<html>
<head>
	<title>Podcastapp</title>
	<%= include_stylesheets :common %>
	<%= include_javascripts :common %>
	<%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">
	<div id="container">
		<%= yield %>
	</div>
</body>
</html>
